/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @fg;
	}

	to {
		color: @yellow;
		background-color: @bg;
	}
}

@keyframes blink-critical {
	70% {
		color: @fg;
	}

	to {
		color: @red_l;
		background-color: @bg;
	}
}


/* COLOURS */

/* Sidetracked Day
@define-color light #f9f3c3;
@define-color dark #161628;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #44517f;
@define-color workspacesfocused #697398;
@define-color sound #fec133;
@define-color network #e5be99;
@define-color memory #de9a97;
@define-color cpu #968b9d;
@define-color gpu #5991d2;
@define-color layout #374a8c;
@define-color battery #161628;
@define-color date #161628;
@define-color time #f9f3c3;
*/

/* Gruvbox
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #458588;
@define-color workspacesfocused #83a598;
@define-color sound #fabd2f;
@define-color getplayerctl #d79921;
@define-color network #8ec07c;
@define-color memory #689d6a;
@define-color cpu #83a598;
@define-color gpu #458588;
@define-color layout #b16286;
@define-color battery #282828;
@define-color date #282828;
@define-color time #ebdbb2;
*/

/* Onedark Darker
@define-color fg #a0a8b7;
@define-color black #0e1013;
@define-color bg0 #1f2329;
@define-color bg1 #282c34;
@define-color bg2 #30363f;
@define-color bg3 #323641;
@define-color bg_d #181b20;
@define-color orange #cc9057;
@define-color red #e55561;
@define-color grey #535965;
@define-color blue #4fa6ed;
@define-color bg_blue #61afef;
@define-color bg_yellow #e8c88c;
@define-color yellow #e2b86b;
@define-color light_green #8edb7d;
@define-color green #8ebd6d;
@define-color cyan #48b0bd;
@define-color purple #bf68d9;
@define-color dark_purple #7e3992;
*/

/* Arc-Horizon */
@define-color fg #dddddd;
@define-color bg0 #1c1e26;
@define-color bg1 #2c2e36;
@define-color red #e55561;
@define-color red_l #e95379;
@define-color green #27d796;
@define-color green_l #09f7a0;
@define-color yellow #f09383;
@define-color yellow_l #fac29a;
@define-color blue #848c9a;
@define-color blue_l #a1abbc;
@define-color purple #b877db;
@define-color purple_l #d1a8e8;
@define-color teal #6c6f93;
@define-color teal_l #8689a6;
@define-color white_l #ffffff;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: @bg0;
	color: @red;
	font-family: Terminus, Siji;
	font-size: 10.5pt;
	/*font-weight: bold;*/
}

/* Each module */
/*#custom-waybar-mpris,*/
#idle_inhibitor,
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#custom-gpu,
#custom-getplayerctl,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
/*#custom-gpu,*/
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#battery.critical {
	color: @red_l;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#battery.warning {
	color: @yellow;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}


#mode { /* Shown current Sway mode (resize etc.) */
	color: @purple;
	background: @bg0;
}

#idle_inhibitor {
	padding-left: 4px;
	color: @red;
	background: @bg0;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	color: @red;
	background: @bg0;
}

#workspaces button.focused {
	background: @bg1;
}

#window {
	margin-right: 20px;
	margin-left: 20px;
}


#custom-alsa,
#pulseaudio,
#sndio {
    background: @bg0;
    color: @red;
}

#custom-getplayerctl {
	background: @bg0;
	color: @green;
}

#network {
    background: @bg0;
	color: @red;
}

#memory {
	background: @bg0;
	color: @red;
}

#cpu {
	background: @bg0;
	color: @red;
}

#custom-gpu {
	background: @bg0;
	color: @red;
}

#language {
	background: @bg0;
	color: @red;
}

#battery {
	background: @bg0;
	color: @red;
}

#tray {
	background: @bg0;
}

#clock.date {
	background: @bg0;
	color: @fg;
}

#clock.time {
	background: @bg0;
	color: @fg;
}

#pulseaudio.muted {
	/* No styles */
}

#custom-arrow1 {
	font-size: 16px;
	color: @bg0;
	background: @bg_d;
}

#custom-arrow2 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow3 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow4 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow5 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow6 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow7 {
	font-size: 16px;
	color: @fg;
	background: @bg0;
}

#custom-arrow8 {
	font-size: 16px;
	color: @bg0;
	background: @bg0;
}

#custom-arrow9 {
	font-size: 16px;
	color: @bg0;
	background: @bg0;
}

#custom-arrow10 {
	font-size: 16px;
	color: @bg0;
	background: @bg0;
}

#custom-arrow11 {
	font-size: 16px;
	color: @bg0;
	background: @bg0;
}
